/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.0-canary.61_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.0-canary.61_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/Home.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Home_container__d256j {
  display: flex;
  height: 100vh;
  max-width: 100%;
  margin: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.Home_main__VkIEL {
  flex: 5;
  display:flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.Home_sidebar__5uvgt {
  width: 300px;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.Home_conversationItem__yfsbM, .Home_newConversationButton__VFBsQ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
}

.Home_conversationItem__yfsbM, .Home_chatHistory__b4j6t {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.Home_conversationItem__yfsbM:hover, .Home_newConversationButton__VFBsQ:hover{
  background-color: #e9e9e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.1);
}

.Home_newConversationIcon_GPT__huuQf {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.Home_newConversationIcon_Post__8_oIk {
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 20px;
}

.Home_title__hYX6j {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: rgba(0,0,0,0.8);
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  opacity: 0.2;
}

.Home_chatHistory__b4j6t {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 20px;
}

.Home_message__OKL2m {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 10px 0px;
}

.Home_userMessage__yHQQP {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: 24px;
  border-radius: 15px;
  word-wrap: break-word;
  max-width: 60%;
}

.Home_gptMessage__xs_QT {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  border-radius: 15px;
  word-wrap: break-word;
  max-width: 60%;
}

.Home_messageIconUser__rGCuC {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 20px;
  height: 20px;
}

.Home_messageIconGPT__We0OQ {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 20px;
  height: 20px;
}

.Home_messageText__mnsJb {
  padding: 10px 10px;
  max-width: 100%;
  border-radius: 18px;
  word-wrap: break-word;
  display: flex;
}

.Home_userMessage__yHQQP {
  justify-content: flex-end;
  background-color: #dcf8c6;
  align-self: flex-end;
}

.Home_gptMessage__xs_QT {
  justify-content: flex-start;
  background-color: #ffffff;
  border: 1px solid #eee;
  align-self: flex-start;
}

.Home_chatBox__4s2CR {
  display: flex;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #eee;
  min-height: 50px;
}

.Home_inputField__h82W1 {
  flex: 1;
  flex-grow: 1;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 18px;
  min-width: 0;
}

.Home_sendButton__kNNkw {
  position: relative;
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  flex: 0 0 auto;
  min-width: 100px;
}

.Home_sendButton__kNNkw:hover {
  background-image: linear-gradient(45deg, gray, transparent);
}

.Home_form__FrVR9 {
  display: flex;
  top: 40%;
  width: 100%;
  align-items: center;
  position: relative;
}

.Home_stopButton__f6e_H {
  position: absolute;
  right: 11%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Home_stopIcon__sPDPm {
  width: 30px;
  height: 30px;
}

.Home_deleteButton__o1Y2v {
  margin-left: 10px;
  padding: 5px 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Home_deleteButton__o1Y2v:hover {
  background-image: linear-gradient(45deg, gray, transparent);
}



